## Build output & intermediate binaries (All sub-projects)
**/[Bb]in/
**/[Ob]j/
**/[Ll]og/
**/[Ll]ogs/

## Visual Studio & IDE files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
.idea/
.vscode/
*.sln.iml

## Secrets & Local Settings
secrets.json
appsettings.Local.json
appsettings.Development.json

## Releases & Archives
*.zip
*.tar.gz
*.7z
*.rar
*.nupkg
*.snupkg
*.crp
*.crpg

## Local Databases
*.mdf
*.ldf
*.ndf
*.bak
*.db
*.sqlite